* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 3rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

button {
  width: 12rem;
  height: 12rem;
  font-size: 7rem;
  margin-right: 3rem;
  font-weight: 800;
  border-radius: 20px;
}

button:active {
  transform: scale(.95);
}

button:hover {
  opacity: .7;
}